
{%extends 'base.html'%}
{%load static%}

{%block title%} Home {%endblock%}
{%block main%}
<div class="hero-wrap">
	    <div class="home-slider owl-carousel">
	      <div class="slider-item" style="background-image:url( {% static 'images/bg_1.jpg' %} );">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row no-gutters slider-text align-items-center justify-content-center">
		          <div class="col-md-8 ftco-animate">
		          	<div class="text w-100 text-center">
		          		<h2>We Business Grow</h2>
			            <h1 class="mb-4">We Help You Businesses Innovate and Grow</h1>
			            <p><a href="/contact.html" class="btn btn-white">Connect with us</a></p>
		            </div>
		          </div>
		        </div>
	        </div>
	      </div>

	      <div class="slider-item" style="background-image:url( {% static 'images/bg_2.jpg' %} );">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row no-gutters slider-text align-items-center justify-content-center">
		          <div class="col-md-8 ftco-animate">
		          	<div class="text w-100 text-center">
		          		<h2>We Support Business</h2>
			            <h1 class="mb-4">The Best Business Support</h1>
			            <p><a href="#" class="btn btn-white">Connect with us</a></p>
		            </div>
		          </div>
		        </div>
	        </div>
	      </div>

	      <div class="slider-item" style="background-image:url( {% static 'images/bg_3.jpg' %} );">
	      	<div class="overlay"></div>
	        <div class="container">
	          <div class="row no-gutters slider-text align-items-center justify-content-center">
		          <div class="col-md-8 ftco-animate">
		          	<div class="text w-100 text-center">
		          		<h2>We Give Advice</h2>
			            <h1 class="mb-4">Expert Financial Advice</h1>
			            <p><a href="#" class="btn btn-white">Connect with us</a></p>
		            </div>
		          </div>
		        </div>
	        </div>
	      </div>
	    </div>
	  </div>
   	
    <section class="ftco-section ftco-no-pt bg-light">
    	<div class="container">
    		<div class="row d-flex no-gutters">
    			<div class="col-md-6 d-flex">
    				<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url( {% static 'images/about.jpg' %} );">
    				</div>
    			</div>
    			<div class="col-md-6 pl-md-5 py-md-5">
    				<div class="heading-section pl-md-4 pt-md-5">
    					<span class="subheading">Welcome to VisionNext</span>
	            <h2 class="mb-4">We Are the Best Industrial Services Providing Agency</h2>
    				</div>
    				<div class="services-2 w-100 d-flex">
    					<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-wealth"></span></div>
    					<div class="text pl-4">
    						<h4>Market Analysis</h4>
    						<p>Gain valuable insights into market trends, competitor analysis, and consumer behavior to make informed business decisions and drive growth.</p>
    					</div>
    				</div>
    				<div class="services-2 w-100 d-flex">
    					<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-accountant"></span></div>
    					<div class="text pl-4">
    						<h4>Accounting Advisor</h4>
    						<p>Get expert guidance and support in managing your financial records, preparing tax returns, and ensuring compliance with accounting standards.</p>
    					</div>
    				</div>
    				<div class="services-2 w-100 d-flex">
    					<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-teamwork"></span></div>
    					<div class="text pl-4">
    						<h4>General Consultancy</h4>
    						<p>Access strategic guidance and practical solutions to address a wide range of business challenges and opportunities.</p>
    					</div>
    				</div>
    				<div class="services-2 w-100 d-flex">
    					<div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-accounting"></span></div>
    					<div class="text pl-4">
    						<h4>Structured Assestment</h4>
    						<p>Utilize structured assessment frameworks and methodologies to identify areas for improvement and develop strategic action plans.</p>
    					</div>
    				</div>
	        </div>
        </div>
    	</div>
    </section>

    <section class="ftco-section bg-light ftco-no-pt">
    	<div class="container">
    		<div class="row">
          <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
            <div class="d-block">
              <div class="icon d-flex mr-2">
            		<span class="flaticon-accounting-1"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Accounting</h3>
                <p>Expert accounting services to ensure accurate financial records and compliance with regulatory requirements.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
            <div class="d-block">
              <div class="icon d-flex mr-2">
            		<span class="flaticon-tax"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Tax, Compliance &amp; Payroll</h3>
                <p>Streamlined tax, compliance, and payroll solutions for efficient financial management and regulatory adherence.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
            <div class="d-block">
              <div class="icon d-flex mr-2">
            		<span class="flaticon-loan"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Financial Services</h3>
                <p>Comprehensive financial services tailored to your needs, from planning and analysis to investment management and wealth preservation.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-6 col-lg-3 d-flex services align-self-stretch px-4 ftco-animate">
            <div class="d-block">
              <div class="icon d-flex mr-2">
            		<span class="flaticon-budget"></span>
              </div>
              <div class="media-body">
                <h3 class="heading">Growth &amp; Funding Access</h3>
                <p>Strategic support and access to funding opportunities to fuel growth and expansion for your business.</p>
              </div>
            </div>      
          </div>
        </div>
    	</div>
    </section>


{%endblock%}